[submodule "cinder/lib/Cinder"]
	path = cinder/lib/Cinder
	url = https://github.com/cinder/Cinder
[submodule "cinder/lib/googletest"]
	path = cinder/lib/googletest
	url = https://github.com/google/googletest
[submodule "cinder/lib/json"]
	path = cinder/lib/json
	url = https://github.com/nlohmann/json
[submodule "cinder/lib/benchmark"]
	path = cinder/lib/benchmark
	url = https://github.com/google/benchmark.git
